/* Estilo para las cajas de texto */
.text-box {
    background-color: #EE5B5B; /* Color de fondo rojo */
    opacity: 0.6; /* Opacidad del 60% */
    text-align: center; /* Texto centrado */
    padding: 20px; /* Relleno interno de 20px */
    margin: 20px 0; /* Márgenes superior e inferior de 20px */
    font-size: 24px; /* Tamaño de fuente de 24px */
    color: white; /* Color del texto blanco */
    grid-column: span 2; /* Ocupa dos columnas en una cuadrícula */
}

/* Estilo para las nuevas cajas de texto adicionales */
.additional-textbox {
    width: 45%; /* Ancho del 45% del contenedor */
    padding: 20px; /* Relleno interno de 20px */
    margin: 20px; /* Márgenes de 20px */
    background-color: #EE5B5B; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    text-align: center; /* Texto centrado */
    font-size: 1.2em; /* Tamaño de fuente de 1.2em */
    line-height: 1.4em; /* Altura de línea de 1.4em */
    display: inline-block; /* Se muestra en línea, pero como un bloque */
}

/* Estilo para la sección de todos los cómics */
.comics-container {
    padding: 20px; /* Relleno interno de 20px */
    margin: 20px 0; /* Márgenes superior e inferior de 20px */
}

/* Estilo para la barra de búsqueda en la sección de cómics */
.comics-search {
    display: flex; /* Utiliza Flexbox para alinear los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    margin-bottom: 20px; /* Margen inferior de 20px */
}

/* Estilo para la lista de cómics */
.comics-list {
    display: flex; /* Utiliza Flexbox para alinear los elementos */
    flex-wrap: wrap; /* Permite el ajuste de los elementos en múltiples filas */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos de 20px */
}

/* Estilo para cada elemento de cómic */
.comic-item {
    width: 150px; /* Ancho de cada cómic */
    text-align: center; /* Texto centrado */
}

/* Estilo para las imágenes de los cómics */
.comic-item img {
    width: 100%; /* Ancho completo del contenedor del cómic */
    height: auto; /* Altura automática para mantener la proporción */
    border: 1px solid #ccc; /* Borde gris claro de 1px */
    border-radius: 5px; /* Bordes redondeados de 5px */
}
